<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hero</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/static/js/base/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/constant/UrlConstant.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/util/HttpUtil.js}"></script>
</head>
<body>
<div id="app">
    <span>Hero {{obj.info}}</span>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                obj: {
                    info: ''
                },
                params: {
                    uid: '1524380861362728962'
                }
            }
        },
        mounted() {
            this.req()
        },

        methods: {
            req() {
                let data = httpGet(HERO_BASE_INFO, this.params);
                this.obj.info = JSON.stringify(data);
            }
        }
    })
</script>
</html>